/* 기본 스타일 */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  font-family: 'Spoqa Han Sans Neo', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 헤더 스타일 */
.header-container {
  width: 1920px;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.wrap-container {
  width: 1280px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
}
.wrap-logo {
  display: flex;
  align-items: start;
}
.logo img {
  width: 124px;
  height: 38px;
  margin-left: 0;
  align-items: center;
}

.wrap-container input[type='search'] {
  width: 400px;
  height: 46px;
  padding: 8px;
  border: 1px solid rgba(33, 191, 72, 1);
  outline: none;
  border-radius: 50px;
  background: url(../assets/search.png) no-repeat center right 13px;
  margin-left: 30px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav li {
  margin-left: 20px;
}
nav ul li:nth-child(1) {
  align-items: center;
  margin-right: 26px;
}

nav ul li:nth-child(2) {
  align-items: center;
  margin-right: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 푸터 스타일 */
footer {
  width: 1920px;
  height: 298px;
  background: rgba(242, 242, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 1280px;
  height: 298px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap {
  height: 108px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.footer-nav {
  flex: 2;
  width: 632px;
  height: 18px;
  margin-top: 60px;
}

.footer-nav a {
  color: #333;
  opacity: 0.8;
  text-decoration: none;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.53px;
  text-align: left;
}

.footer-nav a:hover {
  opacity: 1;
}
.footer-nav a span {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.53px;
  text-align: left;
}

.footer-info {
  width: 321px;
  height: 96px;
  margin-bottom: 63px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(118, 118, 118, 1);
}

.footer-info span {
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(118, 118, 118, 1);
}

.footer-social {
  justify-content: end;
  width: 124px;
  height: 32px;
  flex: 1;
  display: flex;
  margin: 54px 0;
}

.footer-social a img {
  margin-left: 14px;
  width: 32px;
  height: 32px;
}


#loginBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.dropdown-box {
  display: none;
  position: absolute;
  top: 85px;
  right: 3.5%;
  transform: translateX(-50%);
  width: 130px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  text-align: center;
}
.dropdown-box::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px;
  border-style: solid;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-color: transparent transparent white transparent;
}
.dropdown-box a {
  display: block;
  color: rgba(118, 118, 118, 1);
  padding: 10px;
  text-decoration: none;
}
.dropdown-box a:hover {
  color: rgba(0, 0, 0, 1);
}

/* ############### 제품박스 ######################## */

